@font-face {
    font-family: "Norse Bold";
    src: url(fonts/norse_bold.woff);
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 6.25%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    width: 100%;
    min-height: 100vh;

    font-family: var(--system-ui);
    font-size: 16rem;
}

.side-image {
    position: relative;

    flex: 1 0 200px;

    background-size: 100% 100%;
    background-image: url(images/green_leaf_plant.jpg);
}

.logo-container {
    position: absolute;
    top: 22%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 20rem 0;

    text-align: center;
    background-color: rgba(0 0 0 / 0.5);
}

.logo {
    height: 80rem;
}

.logo-text {
    color: white;
    font-family: "Norse Bold";
    font-size: 60rem;
}

.form-container {
    flex: 3 0 400px;

}

.sign-up-banner {
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: 23rem;

    padding: 8% 340rem 0 80rem;
}

.banner-row + .banner-row {
    margin-top: 20rem;
}

.banner-row:last-of-type {
    margin-top: 60rem;
}

.sign-up-form {
    display: flex;
    flex-direction: column;

    padding: 20rem 340rem 0 80rem;
}

.name-row,
.contact-row,
.password-row
 {
    display: flex;
    gap: 50rem;

    margin-bottom: 20rem;
}

label {
    display: block;
    margin-bottom: 2rem;

    font-size: 12rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
}

input {
    width: 200rem;
    height: 28rem;
    appearance: none;

    border: 2px solid #E5E7EB;
    border-radius: 4px;
    padding: 0.5rem;
}

input:focus {
    outline: 1px solid blue;
}


