@font-face {
    font-family: "Norse Bold";
    src: url(fonts/norse_bold.woff);
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-size: 6.25%;

    --form-border-color: #E5E7EB;
    --form-focus-color: blue;
    --form-error-color: red;

    --button-color: #fff;
    --button-background: #596D48;
    --box-shadow-color: #C0C1C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    width: 100%;
    min-height: 100vh;

    font-family: var(--system-ui);
    font-size: 16rem;
}

.side-image {
    position: relative;

    flex: 1 0 200px;

    background-size: 100% 100%;
    background-image: url(images/green_leaf_plant.jpg);
}

.logo-container {
    position: absolute;
    top: 22%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 20rem 0;

    text-align: center;
    background-color: rgba(0 0 0 / 0.5);
}

.logo {
    height: 80rem;
}

.logo-text {
    color: white;
    font-family: "Norse Bold";
    font-size: 60rem;
}

.form-container {
    flex: 3 0 400px;

}

.sign-up-banner {
    display: flex;
    flex-direction: column;

    font-weight: bold;
    font-size: 23rem;

    padding: 18% 340rem 0 80rem;
}

.banner-row + .banner-row {
    margin-top: 20rem;
}

.banner-row:last-of-type {
    margin-bottom: 60rem;
}

.fill-form {
    display: flex;
    flex-direction: column;

    padding: 20rem 340rem 20rem 80rem;
    box-shadow: 0px 3px 3px 2px var(--box-shadow-color);
}

.form-heading {
    margin-bottom: 30rem; 

    font-weight: bold;
    font-size: 23rem;
}

.name-row,
.contact-row,
.password-row {
    display: flex;
    gap: 50rem;

    margin-bottom: 20rem;
}

label {
    display: block;
    margin-bottom: 2rem;

    font-size: 12rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
}

input {
    width: 240rem;
    height: 32rem;
    appearance: none;

    border: 2px solid var(--form-border-color);
    border-radius: 4px;
    padding: 3rem;
}

input:focus {
    outline: none;
    border: 1px solid var(--form-focus-color);
    box-shadow: 3px 3px 3px 0px var(--box-shadow-color);
}

.password-hint {
    display: block;
    height: 20rem;

    font-size: 14rem;
}

.mis-match-form,
.mis-match-form:focus {
    border: 1px solid red;
}

.password-no-match::before {
    color: red;
    content: "* Passwords do not match";
}

.match-form,
.match-form:focus {
    border: 1px solid green;
}

.password-match::before {
    color: green;
    content: "✓ Passwords match"
}

.submit-form {
    padding-left: 80rem;
    padding-bottom: 24%;
    margin-top: 40rem;

    font-size: 18rem;
}

.create-account {
    display: block;

    appearance: none;

    border: 1px solid var(--button-background);
    border-radius: 8px;
    padding: 18rem 60rem;
    margin-bottom: 30rem;

    font-family: inherit;
    font-size: 100%;

    color: var(--button-color);
    background-color: var(--button-background);
}

.create-account:hover {
    color: var(--button-background);
    background-color: var(--button-color);
}

.login-text {
    font-weight: 450;
}

.login-link {
    text-decoration: none;
    font-weight: 800;

    color: var(--button-background);
}
